.overlay {
  position: fixed;
  inset: 0;
  background: rgba($neutral-950, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: $neutral-900;
  border: 1px solid $neutral-700;
  border-radius: 8px;
  color: $neutral-100;

  width: 100vw;
  max-width: 28em;
}
